html,
body {
	margin: 0;
	height: 100%;
	text-align: center;
	font-family: sans-serif;
}

.container {
	display: flex;
	height: 100%;
}

/*#region Playground*/

.sidebar {
	width: 30%;
	display: flex;
	min-width: 360px;
	background-color: #ffffff;
	box-shadow: 10px 0px 5px -6px rgba(0, 0, 0, 0.1);
}

.playground-area {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 70%;
}

#stole-canvas {
	background-color: #ffedd6;
	box-shadow: 10px 10px 2px -5px rgba(0, 0, 0, 0.16);
}

.menu {
	display: grid;
	font-size: 10px;
	font-weight: bold;
	overflow-y: scroll;
	text-transform: uppercase;
	background-color: #343434;
}

.menu-item {
	height: 70px;
	padding: 15px;
	cursor: pointer;
	color: #6d6d6d;
}

.menu-item:hover:not(:first-child) {
	background-color: #393939;
}

/* The checkout button at the bottom */
.menu-item:nth-last-child(1) {
	background-color: #843030;
	color: #ffffff;
	margin-top: auto;
}

.menu-item:nth-last-child(1):hover {
	background-color: #944b4b;
}

.menu-item.selected {
	color: #ffffff;
	background-color: #393939;
}

.sub-menu {
	flex: 3;
	padding: 18px;
	padding-top: 36px;
	overflow-y: scroll;
}

.sub-menu-container {
	display: none;
}

.sub-menu-container.active {
	display: block;
}

.tab-button {
	display: inline-block;
	background-color: #f7f7f7;
	padding: 10px 30px;
	font-size: 12px;
	cursor: pointer;
}

.tab-button:nth-child(1) {
	border-radius: 3px 0px 0px 3px;
	margin-right: -12px;
}

.tab-button:nth-child(2) {
	border-radius: 0px 3px 3px 0px;
	margin-left: 0;
}

.tab-button.selected {
	background-color: black;
	color: white;
}

.submenu-content {
	margin-top: 12px;
}

/* Every other tab section should be invisible by default */
[data-submenu_section]:nth-child(odd) {
	display: none;
}

.symbol {
	display: inline-block;
}

.symbol p {
	margin-top: 6px;
	font-size: 12px;
}

.thumbnail {
	width: 70px;
	height: auto;
	margin: 10px;
	padding: 9px;
	cursor: pointer;
	margin-bottom: 0px;
	border-radius: 3px;
	display: inline-block;
	background-color: #f2f2f2;
}

.palette {
	display: inline-block;
	padding: 3px;
}

.color-box {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 6px;
	background-color: black;
	border: 0.5px solid #dddddd;
	border-radius: 3px;
}

.color-indicator {
	height: 30px;
	margin: 6px;
	border-radius: 3px;
	border: 0.5px solid #dddddd;
}

textarea {
	border: none;
	width: 90%;
	border-bottom: 1px solid black;
}

/*#endregion Playground*/

/*#region Checkout Overlay */
#checkout-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: none;
	cursor: pointer;
	position: fixed;
	overflow: scroll;
	background-color: white;
}

#close-checkout {
	position: absolute;
	top: 20px;
	right: 45px;
	text-decoration: none;
	color: black;
	font-size: 60px;
	overflow: scroll;
}

.checkout-grid {
	display: grid;
	grid-template-columns: 60% 40%;
	text-align: left;
}

.left {
	padding: 10vmin;
	align-self: center;
}

.right {
	padding: 10vmin;
	justify-self: center;
	align-self: center;
}

.left input {
	width: 50%;
}

input[type="email"],
input[type="text"] {
	border: none !important;
	padding: 10px;
	border-bottom: 1px solid #000 !important;
	margin-bottom: 10px;
	outline: none !important;
}

#proceed-checkout {
	margin-top: 10px;
	padding: 10px 30px;
	background: #000;
	color: #ffffff;
	border-radius: 5px;
	font-weight: 800;
	box-shadow: none;
	border: none;
}

/* Pricing Table */
#checkout-table {
	border: 1;
	width: 100%;
}

.text-right {
	text-align: right;
	justify-self: end;
}

.radio-row {
	display: grid;
	grid-template-columns: 100px 100px;
	width: 100%;
}

@media only screen and (max-width: 750px) {
	.checkout-grid {
		grid-template-columns: 1fr;
		grid-template-rows: 60% 40%;
		text-align: center;
	}

	.left {
		padding: 0;
	}

	.right {
		padding: 0;
	}
}

/*#endregion Checkout Overlay */

/*#region Modal */

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition:
		visibility 0s linear 0.25s,
		opacity 0.25s 0s,
		transform 0.25s;
	z-index: 99;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
}

.modal-close {
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
	border-radius: 0.25rem;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition:
		visibility 0s linear 0s,
		opacity 0.25s 0s,
		transform 0.25s;
}
/*#endregion Modal */
